/* Write your CSS here */
.todo-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  margin-bottom: 20px;
}
.todo-title {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  width: 700px;
}
.delete-button {
  background-color: transparent;
  border: 1px solid #ff0b37;
  color: #ff0b37;
  border-radius: 8px;
  font-family: 'Roboto';
  font-weight: 600;
  margin: 10px;
}
